/* Las variables en Sass se definen con $ */
/* Mixin */
.jumbotron {
  background-color: #f5c000;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px;
  background-color: #f5c000;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  padding: 5px 5px 5px 5px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 15px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

a {
  color: black; }
