/* Las variables en Sass se definen con $ */
$yellow: #f5c000;
$green: #97D658;
$red: #FC4E5A;

/* Mixin */
@mixin margenes ($top, $bottom, $padding, $color){
    margin-top: $top;
    margin-bottom: $bottom;
    padding: $padding;
    color: $color;
}

.jumbotron {
    background-color: $yellow;
    @include margenes(50px, 10px, 0px, #000);
}

footer {
    padding: 10px;
    background-color: $yellow;
    @include margenes(10px, 0px, 2px, #000)
}

.card-hotel {
    flex: 1 200px;
/*     padding: 5px 5px 5px 5px;
    margin-top: 10px; */
    @include margenes(10px, 0px, 5px, #000)
}

.btn-reserva {
    width: 100%;
    border-radius: 15px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

a {
    color: black;
}