/* Para compilar: lessc path_source path_destiny */
/* Las variables en Less se definen con @ */ 
@yellow:#f5c000;

/* Mixin */
.margenes (@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
}

footer {
    padding: 10px;
    background-color: @yellow;
    .margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    padding: 5px 5px 5px 5px;
    .margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 15px; }

.footer-address-icon {
    padding-right: 10px; }

.tab-content {
    padding-top: 10px; }

a {
    color: black; }